In [192]:
import pandas as pd
# Importing Libraries
import re
import datetime

In [194]:
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)
warnings.filterwarnings("ignore", category=FutureWarning)

In [54]:
#!pip install spacy

In [196]:
import regex as re
import string

In [198]:
df=pd.read_csv("combined_cleaned_texts00.csv")

In [200]:
df.head()

                                        cleaned_text
0  @S_H_188 @binsaad34 وليه ما ترقع قلبي وتابعني ...
1  @zakaboucetta @hanan_13_DZ_ من نيتك السعودية ع...
2  @NezamMahdawi روح تعطي بعيد انا جزائري وتحيا ا...
3  😅 الاثري البعير جايب هذا الثقبة لي داير روحو ي...
4  في الرياض! ❄️ فعاليات عالمية وتجارب فريدة وأما...

In [204]:
df['cleaned_text'] = df['cleaned_text'].astype(str)

In [206]:
df['cleaned_text'] = df['cleaned_text'].fillna('')

In [208]:
# remove english numbers
df['cleaned_text'] = df['cleaned_text'].apply(lambda x: re.sub(r'[0-9]+', '', x))

# remove english letters
df['cleaned_text'] = df['cleaned_text'].apply(lambda x: re.sub(r'[a-zA-Z]', '', x))

# remove a special character _
df['cleaned_text'] = df['cleaned_text'].apply(lambda x: re.sub(r'[_]+', '', x))

# remove punctuations
arabic_punctuations = '''`÷×؛<>_()*&^%][ـ،/:"؟.,'{}~¦+|!”…“–ـ'''
english_punctuations = string.punctuation
punctuations_list = arabic_punctuations + english_punctuations
df['cleaned_text'] = df['cleaned_text'].apply(lambda x: x.translate(str.maketrans(' ', ' ', punctuations_list)))


# remove newline characters
df['cleaned_text'] = df['cleaned_text'].apply(lambda x: x.replace("\n", "  "))
df

                                           cleaned_text
0       وليه ما ترقع قلبي وتابعني ترد فيني روح السعو...
1       من نيتك السعودية عندها افشل نظام تعليمي روح ...
2      روح تعطي بعيد انا جزائري وتحيا السعودية وطز ف...
3     😅 الاثري البعير جايب هذا الثقبة لي داير روحو ي...
4     في الرياض ❄️ فعاليات عالمية وتجارب فريدة وأماك...
...                                                 ...
1044   الفنادق ارخص والمنتجعات بعد وفيها بحر وتغيير ...
1045   صباحًا    تشكل السحب المنخفضة أو الضباب على أ...
1046       تقريباً اهل الشرقيه كلهم حالياً ف بحر الراكه
1047   اعتقد قرب المسافة والاسعار والبحرين من زمان ت...
1048  ♦️ الأرصاد العُمانيّة  ⚠️تنبيه فرص تشكل السحب ...

[1049 rows x 1 columns]

In [210]:
df.to_csv('Fnail_Result_Cleaning.csv', index=False,encoding='utf-8-sig')