In [192]:
import pandas as pd
# Importing Libraries
import re
import datetime

In [194]:
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)
warnings.filterwarnings("ignore", category=FutureWarning)

In [54]:
#!pip install spacy

In [196]:
import regex as re
import string

In [198]:
df=pd.read_csv("combined_cleaned_texts00.csv")

In [200]:
df.head()

                                        cleaned_text
0  @S_H_188 @binsaad34 ÙˆÙ„ÙŠÙ‡ Ù…Ø§ ØªØ±Ù‚Ø¹ Ù‚Ù„Ø¨ÙŠ ÙˆØªØ§Ø¨Ø¹Ù†ÙŠ ...
1  @zakaboucetta @hanan_13_DZ_ Ù…Ù† Ù†ÙŠØªÙƒ Ø§Ù„Ø³Ø¹ÙˆØ¯ÙŠØ© Ø¹...
2  @NezamMahdawi Ø±ÙˆØ­ ØªØ¹Ø·ÙŠ Ø¨Ø¹ÙŠØ¯ Ø§Ù†Ø§ Ø¬Ø²Ø§Ø¦Ø±ÙŠ ÙˆØªØ­ÙŠØ§ Ø§...
3  ğŸ˜… Ø§Ù„Ø§Ø«Ø±ÙŠ Ø§Ù„Ø¨Ø¹ÙŠØ± Ø¬Ø§ÙŠØ¨ Ù‡Ø°Ø§ Ø§Ù„Ø«Ù‚Ø¨Ø© Ù„ÙŠ Ø¯Ø§ÙŠØ± Ø±ÙˆØ­Ùˆ ÙŠ...
4  ÙÙŠ Ø§Ù„Ø±ÙŠØ§Ø¶! â„ï¸ ÙØ¹Ø§Ù„ÙŠØ§Øª Ø¹Ø§Ù„Ù…ÙŠØ© ÙˆØªØ¬Ø§Ø±Ø¨ ÙØ±ÙŠØ¯Ø© ÙˆØ£Ù…Ø§...

In [204]:
df['cleaned_text'] = df['cleaned_text'].astype(str)

In [206]:
df['cleaned_text'] = df['cleaned_text'].fillna('')

In [208]:
# remove english numbers
df['cleaned_text'] = df['cleaned_text'].apply(lambda x: re.sub(r'[0-9]+', '', x))

# remove english letters
df['cleaned_text'] = df['cleaned_text'].apply(lambda x: re.sub(r'[a-zA-Z]', '', x))

# remove a special character _
df['cleaned_text'] = df['cleaned_text'].apply(lambda x: re.sub(r'[_]+', '', x))

# remove punctuations
arabic_punctuations = '''`Ã·Ã—Ø›<>_()*&^%][Ù€ØŒ/:"ØŸ.,'{}~Â¦+|!â€â€¦â€œâ€“Ù€'''
english_punctuations = string.punctuation
punctuations_list = arabic_punctuations + english_punctuations
df['cleaned_text'] = df['cleaned_text'].apply(lambda x: x.translate(str.maketrans(' ', ' ', punctuations_list)))


# remove newline characters
df['cleaned_text'] = df['cleaned_text'].apply(lambda x: x.replace("\n", "  "))
df

                                           cleaned_text
0       ÙˆÙ„ÙŠÙ‡ Ù…Ø§ ØªØ±Ù‚Ø¹ Ù‚Ù„Ø¨ÙŠ ÙˆØªØ§Ø¨Ø¹Ù†ÙŠ ØªØ±Ø¯ ÙÙŠÙ†ÙŠ Ø±ÙˆØ­ Ø§Ù„Ø³Ø¹Ùˆ...
1       Ù…Ù† Ù†ÙŠØªÙƒ Ø§Ù„Ø³Ø¹ÙˆØ¯ÙŠØ© Ø¹Ù†Ø¯Ù‡Ø§ Ø§ÙØ´Ù„ Ù†Ø¸Ø§Ù… ØªØ¹Ù„ÙŠÙ…ÙŠ Ø±ÙˆØ­ ...
2      Ø±ÙˆØ­ ØªØ¹Ø·ÙŠ Ø¨Ø¹ÙŠØ¯ Ø§Ù†Ø§ Ø¬Ø²Ø§Ø¦Ø±ÙŠ ÙˆØªØ­ÙŠØ§ Ø§Ù„Ø³Ø¹ÙˆØ¯ÙŠØ© ÙˆØ·Ø² Ù...
3     ğŸ˜… Ø§Ù„Ø§Ø«Ø±ÙŠ Ø§Ù„Ø¨Ø¹ÙŠØ± Ø¬Ø§ÙŠØ¨ Ù‡Ø°Ø§ Ø§Ù„Ø«Ù‚Ø¨Ø© Ù„ÙŠ Ø¯Ø§ÙŠØ± Ø±ÙˆØ­Ùˆ ÙŠ...
4     ÙÙŠ Ø§Ù„Ø±ÙŠØ§Ø¶ â„ï¸ ÙØ¹Ø§Ù„ÙŠØ§Øª Ø¹Ø§Ù„Ù…ÙŠØ© ÙˆØªØ¬Ø§Ø±Ø¨ ÙØ±ÙŠØ¯Ø© ÙˆØ£Ù…Ø§Ùƒ...
...                                                 ...
1044   Ø§Ù„ÙÙ†Ø§Ø¯Ù‚ Ø§Ø±Ø®Øµ ÙˆØ§Ù„Ù…Ù†ØªØ¬Ø¹Ø§Øª Ø¨Ø¹Ø¯ ÙˆÙÙŠÙ‡Ø§ Ø¨Ø­Ø± ÙˆØªØºÙŠÙŠØ± ...
1045   ØµØ¨Ø§Ø­Ù‹Ø§    ØªØ´ÙƒÙ„ Ø§Ù„Ø³Ø­Ø¨ Ø§Ù„Ù…Ù†Ø®ÙØ¶Ø© Ø£Ùˆ Ø§Ù„Ø¶Ø¨Ø§Ø¨ Ø¹Ù„Ù‰ Ø£...
1046       ØªÙ‚Ø±ÙŠØ¨Ø§Ù‹ Ø§Ù‡Ù„ Ø§Ù„Ø´Ø±Ù‚ÙŠÙ‡ ÙƒÙ„Ù‡Ù… Ø­Ø§Ù„ÙŠØ§Ù‹ Ù Ø¨Ø­Ø± Ø§Ù„Ø±Ø§ÙƒÙ‡
1047   Ø§Ø¹ØªÙ‚Ø¯ Ù‚Ø±Ø¨ Ø§Ù„Ù…Ø³Ø§ÙØ© ÙˆØ§Ù„Ø§Ø³Ø¹Ø§Ø± ÙˆØ§Ù„Ø¨Ø­Ø±ÙŠÙ† Ù…Ù† Ø²Ù…Ø§Ù† Øª...
1048  â™¦ï¸ Ø§Ù„Ø£Ø±ØµØ§Ø¯ Ø§Ù„Ø¹ÙÙ…Ø§Ù†ÙŠÙ‘Ø©  âš ï¸ØªÙ†Ø¨ÙŠÙ‡ ÙØ±Øµ ØªØ´ÙƒÙ„ Ø§Ù„Ø³Ø­Ø¨ ...

[1049 rows x 1 columns]

In [210]:
df.to_csv('Fnail_Result_Cleaning.csv', index=False,encoding='utf-8-sig')